* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 90%;
  margin-left: 1.5rem;
  margin-left: 1.5rem;
}
a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

:root {
  --hue: 159;
  --base-color: hsl(var(var(--hue) 36% 57%));
  --base-color-seconde: hsl(var(var(--hue) 65%, 88%));
  --base-color-alt: hsl(var(var(--hue) 57%, 53%));
  --title-color: hsl(var(var(--hue) 41%, 10%));
  --text-color: hsl(0 0%, 46%);
  --text-color-light: hsl(0 0%, 98%);
  --body-color-: hsl(0 0%, 98%);
}

body {
  font: 400 1rem 'DM Sans', sans-serif;
  color: var(--text-color);
  background: var(--body-color-);
  -webkit-font-smoothing: antialiased;
}

h1 {
  font: 700 1.875rem 'Poppins', sans-serif;
  color: var(--title-color);
  -webkit-font-smoothing: auto;
}

#header {
  height: 4.5rem;
}

nav {
  display: flex;
  justify-content: space-between;
}

.logo {
}
